<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.p2p.base.mapper.MailVerifyMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.p2p.base.domain.MailVerify" >
    <id column="id" property="id" />
    <result column="userId" property="userId" />
    <result column="sendTime" property="sendTime" />
    <result column="uuid" property="uuid" />
    <result column="email" property="email"/>
  </resultMap>
  <insert id="insert" parameterType="cn.wolfcode.p2p.base.domain.MailVerify" useGeneratedKeys="true" keyProperty="id" >
    insert into `MailVerify` (userId, sendTime, uuid,email)
    values (#{userId}, #{sendTime}, #{uuid},#{email})
  </insert>
  <select id="selectByUUID" resultMap="BaseResultMap">
  select id,userId, sendTime, uuid,email from mailverify where uuid = #{uuid}
  </select>
</mapper>