<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.p2p.base.mapper.RealAuthMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.p2p.base.domain.RealAuth" >
    <id column="id" property="id" />
    <result column="realName" property="realName" />
    <result column="sex" property="sex" />
    <result column="birthDate" property="birthDate" />
    <result column="idNumber" property="idNumber" />
    <result column="address" property="address" />
    <result column="state" property="state" />
    <result column="image1" property="image1" />
    <result column="image2" property="image2" />
    <result column="remark" property="remark" />
    <result column="auditTime" property="auditTime" />
    <result column="applyTime" property="applyTime" />
    <association property="auditor" javaType="cn.wolfcode.p2p.base.domain.Logininfo" columnPrefix="au">
      <id column="id" property="id"/>
      <result property="username" column="username"/>
    </association>
    <association property="applier" javaType="cn.wolfcode.p2p.base.domain.Logininfo" columnPrefix="ap">
      <id column="id" property="id"/>
      <result property="username" column="username"/>
    </association>
  </resultMap>
  <insert id="insert" parameterType="cn.wolfcode.p2p.base.domain.RealAuth" useGeneratedKeys="true" keyProperty="id" >
    insert into `RealAuth` (realName, sex, birthDate, idNumber, address, state, image1, 
      image2, remark, auditTime, applyTime, auditor_id, applier_id)
    values (#{realName}, #{sex}, #{birthDate}, #{idNumber}, #{address}, #{state}, #{image1}, 
      #{image2}, #{remark}, #{auditTime}, #{applyTime}, #{auditor.id}, #{applier.id})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.p2p.base.domain.RealAuth" >
    update `RealAuth`
    set realName = #{realName},
      sex = #{sex},
      birthDate = #{birthDate},
      idNumber = #{idNumber},
      address = #{address},
      state = #{state},
      image1 = #{image1},
      image2 = #{image2},
      remark = #{remark},
      auditTime = #{auditTime},
      applyTime = #{applyTime},
      auditor_id = #{auditor.id},
      applier_id = #{applier.id}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select ra.id, ra.realName, ra.sex, ra.birthDate, ra.idNumber, ra.address, ra.state, ra.image1, ra.image2, ra.remark,
    ra.auditTime, ra.applyTime,
    ap.id ap_id,ap.username ap_username,au.id au_id,au.username au_username
    from `RealAuth` ra join logininfo ap on ra.applier_id = ap.id
    left join logininfo au on ra.auditor_id = au.id
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, realName, sex, birthDate, idNumber, address, state, image1, image2, remark, 
    auditTime, applyTime, auditor_id, applier_id
    from `RealAuth`
  </select>
</mapper>