<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.p2p.base.mapper.SystemDictionaryMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.p2p.base.domain.SystemDictionary" >
    <id column="id" property="id" />
    <result column="sn" property="sn" />
    <result column="title" property="title" />
  </resultMap>
  <insert id="insert" parameterType="cn.wolfcode.p2p.base.domain.SystemDictionary" useGeneratedKeys="true" keyProperty="id" >
    insert into `SystemDictionary` (sn, title)
    values (#{sn}, #{title})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.p2p.base.domain.SystemDictionary" >
    update `SystemDictionary`
    set sn = #{sn},
      title = #{title}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, sn, title
    from `SystemDictionary`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, sn, title
    from `SystemDictionary`
  </select>
</mapper>